<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kirjaudu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Kirpparille?</h1>
        <br>
            <p>Kirjautuminen epäonnistui, yritä uudelleen</p>
        <br>
    <form method="get" action="/login">
        <input type="text" name="userName" placeholder="Sähköposti" required>
            <br>
                <input type="password" name="userPassword"  placeholder="Salasana" required></input>
            <br>
        <button type="submit">Kirjaudu</button>
    </form>
    <form method="get" action="/">
        <button>Takaisin</button>
    </form>
</body>
</html>