<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kirpparille</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <div style="position: absolute; top: 0; right: 0; width: 400px; text-align:right;">
        Tähän kirjautunut käyttäjä
        <form method="get" action="/">
            <button>Kirjaudu ulos</button>
        </form>
    </div>

    <h1>Kirpparille?</h1>
        <form method="get" action="/stores">
            <button>Selaa Kirppareita</button>
        </form>
    <br>
        <form method="get" action="/login">
            <input type="text" name="userName" placeholder="Sähköposti" required>
            <br>
            <input type="password" name="userPassword"  placeholder="Salasana" required></input>
            <br>
            <button type="submit">Kirjaudu</button>
        </form>
        <form method="get" action="/join">
            <button>Luo käyttäjä</button>
        </form>
    </body>
</html>
