<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Avaible Heroes</h1>
            <li th:each="hero:${heroes}">
                <a>hero</a>
            </li>
        <form method="get" action="/">
            <button>Back</button>
        </form>
        <form method="post" action="/heroes">
            <input type="text" name="heroname" placeholder="New hero name..." required>
            <button>Kulli</button> 
        </form>
    </body>
</html>
